<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="./../media/css/style.css">
  <script src="../viewModels/cart.js"></script>
</head>

<body onload="load()">

  <header>
    <section id="bannerContainer">
      <span>BBZW</span>
      <span>Dorfladen</span>
    </section>
  </header>

  
  <div id="controllerContainer">
    <section id="backContainer">
      <button id="backButton" onclick="back()">Zurück</button>
    </section>

    <section id="cartContainer">
      <div>
        <span>Warenkorb: </span>
        <span id="cartAmount"></span>
      </div>
    </section>
  </div>

  <main>
    <section id="productListContainer">
      <table class="productTable">
        <thead>
          <tr id="tableHeader">
            <th>Produkt</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
      </table>
    </section>
    <section>
      <button onclick="checkOut()">Checkout</button>
    </section>
  </main>

  <footer>
    <section id="footerContainer">
      <p>Simon Krieger</p>
    </section>
  </footer>

</body>

</html>