<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="./../media/css/style.css">
    <script src="../viewModels/success.js"></script>
</head>

<body onload="load()">

    <header>
        <section id="bannerContainer">
            <span>BBZW</span>
            <span>Dorfladen</span>
          </section>
    </header>

    <main>
        <section id="successContainer">
            <p>Einkauf abgeschlossen</p>
            <button onclick="home()">Weiter einkaufen</button>
        </section>
    </main>

    <footer>
        <section id="footerContainer">
            <p>Simon Krieger</p>
        </section>
    </footer>

</body>

</html>